*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202432;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.052));;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg ,transparent, rgb(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::before{
    left: 100%;
}

.logo{
    color:#f9532d;
    font-size: 35px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #f9532d;
    text-decoration: underline;

}

#menu-icon{
    font-size: 36px;
    color: white;
    transition: .5s;
    display: none;
}

#menu-icon:hover{
    color: #f9532d;
}

/*PARA RESPONSIVE*/
@media (max-width:992px){
    .header{
        padding:1.25rem 4%;
    }
}
/*RESPONSIVE PARA PANTALLAS PEQUEÑAS*/
@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(255, 255, 255, .2);
        border-bottom: 2px solid rgba(228, 228, 228, 0.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        margin: 1.5rem 0;
    }
}




.portfolio{
    margin-top: 200px;
}

.info-container{
    display: flex;
    justify-content: center;
    font-family:inherit;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.dev-photo img{
    border-radius: 50%;
    max-width: 100%;
    padding-right: 10px;
}

.dev-info{
    margin-left: 20px;
    text-align: left;
    max-width: 400px;
}

.dev-info span{
    color: #f9532d;
}

/*PARA RESPONSIVE*/
@media(max-width:768px){
    .info-container{
        flex-direction: column;
        align-items: center;
    }

    .dev-info{
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
        justify-content: center;
        
    }
}



/*SALUDO HI THERE*/
.saludo{
    font-size: 25px;
    margin-bottom: 10px;
}



/*DEV NAME*/
.dev-info .name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
}



/*LETRA FRONT-END DEVELOPER*/
.dev-info .career{
    color:#f9532d;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.description-dev{
    font-size: 20px;
}



/*BOTÓN CV*/
.CV{
    background-color: #f9532d;
    color: white;
    font-size: 18px;
    margin-top: 1px;
    border: none;
    border-radius: 10px;
    width: 350px;
    padding: 18px;
    box-shadow: 0px 2px 18px 0px #f9532d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: .5s;
    text-align: center;
}



/*ICONOS DE REDES SOCIALES */
.social-media{
    font-size: 50px;
    margin-top: 20px;

}

.social-media a{
    text-decoration: none;
    color: white;
    transition: .5s;
    position: relative;
}

.social-media a:hover{
    color: #f9532d;
    text-shadow: 0 0 5px #f9532d, 0 0 5px #f9532d, 0 0 10px #f9532d, 0 0 10px #f9532d;
}

/*ABOUT CONTAINER*/

.About-me{
    text-align: justify;
    max-width: 900px;
    padding: 20px;
    margin: auto; /* Centra horizontalmente */
    padding-top: 250px;
    font-size: 25px;
}

/*ABOUT TITLE*/
.about{
    font-size: 35px;
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9532d;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






