*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #251d44;
    color: #ea6ff8;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(1deg, #372860, rgba(255, 255, 255, 0.052));;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px; 
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg ,transparent, rgb(255,255,255,.4), transparent);
    transition: .5s;
}

.header:hover::before{
    left: 100%;
}

.logo{
    color:#ea6ff8;
    font-size: 35px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar a{
    color: #8cbae6;
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #ea6ff8;
    text-decoration: underline;

}

#menu-icon{
    font-size: 36px;
    color: white;
    transition: .5s;
    display: none;
}

#menu-icon:hover{
    color: #ea6ff8;
}

/*PARA RESPONSIVE PANTALLAS MAS GRANDES*/
@media (max-width:992px){
    .header{
        padding:1.25rem 4%;
    }
}
/*RESPONSIVE PARA PANTALLAS PEQUEÑAS*/
@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        background: rgba(255, 255, 255, .2);
        border-bottom: 2px solid rgba(228, 228, 228, 0.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        margin: 1.5rem 0;
    }
}




.portfolio{
    margin-top: 90px;
    padding-top: 90px;
}

.info-container{
    display: flex;
    justify-content: center;
    font-family:inherit;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 160px;
}

.dev-photo img{
    border-radius: 50%;
    max-width: 100%;
    padding-right: 10px;
}

.dev-info{
    margin-left: 20px;
    text-align: left;
    max-width: 400px;
}

.dev-info span{
    color: #00f297;
}

/*PARA RESPONSIVE PANTALLAS PEQUEÑAS*/
@media(max-width:768px){
    .info-container{
        flex-direction: column;
        align-items: center;
    }

    .dev-info{
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
        justify-content: center;
        
    }
}



/*SALUDO */
.saludo{
    font-size: 20px;
    margin-bottom: 10px;
    color: #8cbae6;
}



/*DEV NAME*/
.dev-info .name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}



/*LETRA FRONT-END DEVELOPER*/
.dev-info .career{
    color:#d8c652;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.description-dev{
    font-size: 20px;
    color: #8cbae6;
}



/*BOTÓN CV*/
.CV{
    background-color: #00f297;
    color: white;
    font-size: 18px;
    margin-top: 1px;
    border: none;
    border-radius: 10px;
    width: 350px;
    padding: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: .5s;
    text-align: center;
}

.CV:hover{
    box-shadow: 0px 2px 15px 0px #00f297;
}



/*ICONOS DE REDES SOCIALES */
.social-media{
    font-size: 50px;
    margin-top: 20px;

}

.social-media a{
    text-decoration: none;
    color: white;
    transition: .5s;
    position: relative;
}

.social-media a:hover{
    color: #00f297;
    text-shadow: 0 0 5px #00f297, 0 0 5px #00f297, 0 0 10px #00f297, 0 0 10px #f9532d;
}

/*ABOUT CONTAINER*/
.About-me{
    text-align: justify;
    max-width: 740px;
    padding: 20px;
    margin: auto; /* Centra horizontalmente */
    font-size: 25px;
    border: 3px solid #00f297;
    border-radius: 15px;
    box-shadow: 0px 2px 22px 0px #00f297;
    overflow: hidden;
}


#About-cont{
    padding-top: 100px;
}
/*ABOUT TITLE*/
.about{
    font-size: 35px;
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ea6ff8;
}

/*ABOUT TEXT P */
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #8cbae6;
}


/*ICONS ABOUT ME*/

.about-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    color: white;
}




.education h4{
    font-size: 35px;
    justify-content: center;
    text-align: center;
    margin-top: 180px;
}

.education-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    flex-wrap: wrap;

}

.edu{
    width: 600px;
    height: 210px;
    display: flex;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.03);
    margin: 20px;
    border-radius: 5px;

    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.edu  img{
    width: 40%;
    height: 100%;
    background-size: cover;
}


.edu-content{
    width: 60%;
    height: 100%;

    grid-template-rows: 50px 150px 50px;
    padding: 10px;
}

.edu h5{
    font-size: 20px;
}

.edu p{
    color: #8cbae6;
    font-size: 20px;
    margin-bottom: 19px;
}

.edu span{
    font-size: 25px;
}





